@font-face {
    font-family: 'italian';
    src: url('fonts/italian.woff2') format('woff2'),
         url('fonts/italian.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.content {
    background: url('../images/pizza.png');
    background-size: cover;
    color: black;
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 0.2rem 1rem rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header .header-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'italian', sans-serif;
    color: #132544;
}

.header .menu-holder
{
    position: absolute;
    top: 0;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header .menu-image-holder
{
    height: auto;
    padding: 0.45rem 0.6rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.header .menu-image-holder:hover
{
    background-color: rgba(117, 141, 182, 0.4);
}

.sidebarBackground {
    background-color: rgb(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebarMenu {
    background-color: white;
    box-shadow: 0.1rem 0.3em 0.3rem rgb(0, 0, 0, 0.05);
    height: 100%;
    width: 16rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.sidebarMenu .menuHolder
{
    padding-top: 4rem;
}

.sidebarMenu .menuItem {
    background-color: rgb(228, 228, 228, 0.9);
    text-align: right;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

.sidebarMenu .menuItem:hover {
    background-color: rgba(182, 182, 182, 0.9);
    transform: scale(1.05);
}

.sidebarMenu .selected {
    background-color: rgba(206, 206, 206, 0.9);
    transform: scale(1.025);
}

.slide-in {
    animation-duration: 0.8s;
    animation-name: slideIn;
}

.slide-out {
    animation-duration: 0.8s;
    animation-name: slideOut;
}

@keyframes slideIn {
    from {
        left: -60%;
    }
    to {
        left: 0%
    }
}

@keyframes slideOut {
    from {
        left: 0%
    }
    to {
        left: -60%;
    }
}

.main-content {
    margin: 2.5rem 10%;
    background-color: rgb(0, 0, 0, 0.65);
    padding: 1rem;
    color: white;
    border-radius: 0.4rem;
    animation: showUp 0.8s ease;
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-content-index {
    width: 100%;
}

.main-content-index p {
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.main-content-index p.title {
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.main-content-index p.timetable {
    font-size: 1.5rem;
    padding: 1.3rem;
    background-color: rgba(17, 19, 20, 0.4);
    border-radius: 0.9rem;
    width: fit-content;
}

.main-content-index button {

    margin-left: 1.5rem;
    padding: 0.8rem 1.1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: #132544;
    color: white;
    font-size: 1.4rem;
    box-shadow: 0.1rem 0.2rem 0.5rem rgb(0, 0, 0, 0.5);

}

.main-content-index button:hover {
    background-color: #12213a;
    transform: scale(1.05);
}

.main-content-index button:active {
    background-color: #091425;
}

.main-content-index .restDay {
    color: #3e77d8;
    font-weight: bold;
}

.main-content-index img {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    width: 20rem;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    float:right;
}

.main-content-contact p {
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.main-content-contact #map {
    height: auto;
    width: 80%;
    margin: 1rem 10%;
}

.main-content-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.3rem;
}

.main-content-menu .item {
    background-color: rgba(17, 19, 20, 0.4);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-menu .item:hover {
    background-color: rgb(162, 165, 165, 0.4);
}

.main-content-menu .item p
{
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.main-content-menu .item p.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.main-content-menu .item span.desc {
    font-size: 0.9rem;
    font-weight: lighter;
}

.main-content-menu .item img {
    width: 25%;
    aspect-ratio: 1;
}

.footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
}